.rows-per-page {width: 50px}

.search-content-span {float: left}
.search-content {height: 26px}

.search_area {float: right}
.search_row {height: 30px}

.search-btn {float: left}

.search-type {height: 26px; float:left}

.add_more_key {float: right}

.fateak-pagination {margin: 10px auto}
.fateak-pagination li {list-style:none; float: left; margin-left:-1px ;width: 30px;height:30px; border:1px solid #CCC;text-align:center; line-height:25px}
.fateak-pagination li:hover {background-color: #CEF; cursor:pointer}
.fateak-pagination a:hover {text-decoration:none}

.f-sort-icon {color: #AAA; cursor: pointer; margin-left: 10px}
.f-sort-icon:hover {color: #5AD}

table a {cursor:pointer}
